 .timeline{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin: 80px 170px;

}
.timeline-title{
  position: relative;
}
.timeline-title h1{
  padding: 0px 30px;
  font-size: 60px;
  font-weight: 600;
}
.timeline-title img{
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.timeline-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin: 80px 170px;
} 

/* Title styling */
.title {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 35px;
  font-size: 4em; /* Adjusted to fit better */
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
  background: linear-gradient(264deg, #DF8908 -5.09%, #B415FF 106.28%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Timeline content styling */
.vertical-timeline-element-content {
  padding: 2em 3em !important;
  background: #32323C; /* Dark background color */
  border-radius: 10px; /* Rounded corners */
  color: #323232; 
}


/* Date styling */
.date {
  color: rgb(201, 251, 255);
}

/* Description styling */
#description {
  margin: 1.5em 0 2em 0;
  font-size: 18px; /* Added font size for consistency */
  font-weight: 500;
}

/* Button styling */
.button {
  text-decoration: none;
  padding: 0.5em 1em;
  border-radius: 5px;
  color: white;
  background: linear-gradient(264deg, #DF8908 -5.09%, #B415FF 106.28%);
}

.button:hover {
  background: linear-gradient(264deg, #B415FF 50.41%, #DF8908 106.28%);
}

/* Media queries for responsiveness */
@media only screen and (max-width: 1700px) {
  .vertical-timeline-element-date {
    display: block !important;
    float: none !important;
    color: rgb(44, 44, 44);
    margin-top: 1.5em;
  }
} 
